:root {
    font-family: system-ui, sans-serif; 
}

body {
    margin: 0px;
    padding: 0px;
}

.return-button::before {
    content: "< ";
}

.return-button {
    position: absolute;
    margin: 20px;
    color: gray;
    text-decoration: none;
}

.return-button:hover {
    color: black;
}

.navigation-button {
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
}

.navigation-button:hover {
    border: 1px solid black;
}

.config-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 30px;

    height: 100dvh;
    max-width: 500px;
}

.config-scroll-box {
    padding-top: 10px;
    overflow: scroll;
}
