.training-list-container {
    flex: 1;
    overflow: scroll;
}

[class*="navigation-button"] {
    margin: 10px 0;
}

h1 {
    flex: 0;
}

.content {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 30px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}
